<ion-header>

  <ion-navbar>
    <ion-title> <b style=" color: red;"> VISA CARD </b> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <br>
  <br>
  <!--<p class="center"><b style=" color: green;"> Please Select a network </b></p>-->
  <ion-row>

    <p class="pad"> <img src="assets/icon/card.png" height="100%" width="100%" class="margin" /> </p>


  </ion-row>
  <br>
  <br>
  <ion-item>

    <ion-input type="text" placeholder="Please enter card number"></ion-input>

    <ion-label> </ion-label>
  </ion-item>
<ion-footer>


  <p> <button ion-button color="secondary" class="button button-dark customBtn" (tap)="pay()"> Make payment</button></p>
</ion-footer>
</ion-content>