<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title> Order History</ion-title>-->
    <ion-title> <b style=" color: #FF000C"> Order History </b> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">

  <ion-card>

    <!--<ion-card-content>-->
     
       <ion-list *ngFor="let q of list">
      <ion-item>

        <p> <b>Order ID: {{q.order_id}}</b></p>
         <p> <b>Order Date: {{q.order_date}}</b></p>
        <p><b>Order Details: {{q.order_details}}</b></p>
         <p><b>Order Status: {{q.status}}</b></p>
          <p> <button ion-button color="secondary" class="button button-dark customBtn"  (tap)="details(q)"> View Details</button></p>
      </ion-item>
      </ion-list>
    <!--</ion-card-content>-->
  </ion-card>

</ion-content>