<ion-content overflow-scroll='true' class="background">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<form [formGroup]="loginForm"  >
  <!--<ion-card >-->

    <ion-list class="main-view">
      <br/>
      <br/>
      <br/>
      <br/>


      <ion-item>

           
         <ion-input type="text" placeholder="Mobile number"  formControlName="mobile_number" name="mobile_number" [class.invalid]="!loginForm.controls.mobile_number.valid && (loginForm.controls.mobile_number.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-label>
        <ion-label> </ion-label>
      </ion-item>
      <br/>

      <ion-item>

        <ion-input type="password" placeholder="PIN"  formControlName="master_pin" name="master_pin" [class.invalid]="!loginForm.controls.master_pin.valid && (loginForm.controls.master_pin.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon name="ios-unlock"></ion-icon>
        </ion-label>

        <ion-label> </ion-label>
      </ion-item>

      <br/>
      <p> <button ion-button color="kaya" class="button button-dark customBtn" [disabled]="!this.loginForm.valid" (tap)="login()"> Login</button></p>
      <p class="pad"><b style=" color: #187034;"> <u style=" color: #187034;">Forgot Password?</u>  </b> </p>
       <ion-row >
  
      <ion-col col-6>
   <img src="assets/icon/Gmail.png" height="60px" width="60px" class="margin" />       
    
      </ion-col>

      <ion-col col-6>
     <img src="assets/icon/Facebook.png" height="60px" width="60px" class="margin-r "/>      
   
    </ion-col>
 
  </ion-row>
      

    

    </ion-list>
  <!--</ion-card>-->


<ion-footer>
  
    <p class="pad"><b style=" color: white;"><p style=" color: white;">Don't have an account ?  <u (tap)="signup()" style=" color: #30aeff;">Sign Up</u> </p> </b> </p>

</ion-footer>

    
</form>
</ion-content>