<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> My order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">



 <ion-list *ngFor="let q of list">
      <h4> {{q.order_id}}</h4>

 <ion-list *ngFor=" let option of q.order_details">
       
        <ion-item no-lines>
        <ion-thumbnail item-left>
          <img src="assets/icon/Apple.png" />
        </ion-thumbnail>
           <h4><b > {{ option.product_name}}</b></h4>
            <h4><b >{{ option.product_price}}</b></h4>
            <h4><b >{{ option.quantity}}</b></h4>

      

        

      </ion-item>

    </ion-list>
</ion-list>
  
</ion-content>