page-delivery-details {


.height{

     height: 150px !important;


}

  .pad{

        align-content: center;
        align-items: center;
         text-align:center;

    }

    .button.customBtn{
    width:350px;
    margin-top: 30%;
}

}
