<!--
  Generated template for the DeliveryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> <b style=" color: #FF000C"> DELIVERY </b> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p class="pad"><b style=" color: #187034;">Enter Details </b> </p>



  <ion-item>
    <ion-label>Change your location?</ion-label>
    <ion-select name="location" [(ngModel)]="yesorno">
      <ion-option name="location" value="Y" [(ngModel)]="yesorno" ngDefaultControl>Yes</ion-option>
      <ion-option name="location" value="N" [(ngModel)]="yesorno" ngDefaultControl>No</ion-option>

    </ion-select>
  </ion-item>


  <ion-item *ngIf="yesorno == 'Y'">
    <ion-input type="text" placeholder="Enter a different location" name="location"></ion-input>
  </ion-item>


  <ion-item>
    <ion-input placeholder="Delivery  Time" lineHeight="22"></ion-input>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="proposed_time"></ion-datetime>

  </ion-item>

  <ion-item class="height">
    <ion-textarea placeholder="Delivery note..." lineHeight="40" name="complaint_desc"></ion-textarea>

  </ion-item>
<ion-footer>
  <p> <button ion-button color="secondary" class="button button-dark customBtn" (tap)="submit()">Submit</button></p>
</ion-footer>

</ion-content>