<ion-content class="background">
  <ion-slides #mySlider autoplay="1000" loop="true" speed="2000" autoplayDisableOnInteraction="false" zoom="true" pager>


    <ion-slide >
      <img src="assets/icon/grocery.png"/>
      <p style=" color: #187034;"><b>Grocery Shop</b></p>
      <p style=" color: #187034;">Your personal grocery shopper. Grocery shopping has never been this easy!</p>
      <br>
      <div class="card-title" (tap)="skip()">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </div>

    </ion-slide>


    <ion-slide class="img3">
      <br>
      <br>
      <br>
      

       <img src="assets/icon/ease.png" height="100px" width="350px" />
      <br>
      <br>
   
    
      <h4 style=" color: #187034;"><b>Ease of Access</b></h4>
      <p style=" color: #187034;">Shop groceries from the comfort of your home..No Hassle!!</p>
     
     
      <div class="card-title1" (tap)="skip()">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </div>
      
    </ion-slide>

    <ion-slide>
      <img src="assets/icon/tracker.png" height="100px" width="350px" />
      <h4 style=" color: #187034;"><b>Tracking & Delivery</b></h4>
      <p style=" color: #187034;">Get your grocery items delivered to you instantly!</p>
      <div class="card-title" (tap)="skip()">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </div>
    </ion-slide>

    <ion-slide class="img">

      
      <img src="assets/icon/pay.png" height="100px" width="350px" />
      <h4 style=" color: #187034;"><b>Easy Payments!</b></h4>
      <p style=" color: #187034;">Choose between a number of payment options!</p>
     
     
      <div class="card-title" (tap)="skip()">
        <ion-icon name="md-arrow-forward"></ion-icon>
      
      </div>
   
    </ion-slide>



  </ion-slides>

</ion-content>