<ion-header>

  <ion-navbar>
   
    <ion-buttons end class="margin">
      <button ion-button icon-only (tap)="cart()">
       
        <img src="assets/icon/cart.png" height="30px" width="30px"  class="right"/>

         <ion-badge  >{{count}}</ion-badge>
         
      </button>
    </ion-buttons>
     <ion-row>
      <ion-col col-7>
        <b style=" color: #187034;"> {{this.shop_name}} <br><b style=" color: #FF000C">  {{this.prod_name}}  </b> </b>
      </ion-col>
      <!--<ion-col col-5>
        <ion-icon ios="ios-refresh" style=" color: #187034;" class="right">;</ion-icon>
        <ion-icon ios="ios-cart-outline" style=" color: #187034;" class="right">;</ion-icon>
      </ion-col>-->
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content class="ash">

  <div *ngIf="check?.length > 0">
    <ion-list *ngFor="let product of check">



      <ion-card class="wide">

        <ion-row>
          <ion-col col-5>
            
              <img *ngIf="product" [src]="product.prod_logo_url"  />
         
          </ion-col>
          <ion-col col-7 class="back-color">
            <ion-row>
              <ion-col col-10>
                <ion-badge style=" color: white;">{{ product.discount}}% OFF</ion-badge>
              
              </ion-col>
              <ion-col col-2 class="margin-icon">
              
                      <img src="assets/icon/w_hrt.png"   class="margin-icon" /> 
              </ion-col>
            </ion-row>

             <ion-row>
              <ion-col col-10>
            <b style=" color: white;">{{ product.product_name}}</b>
            <p style=" color: white;"> {{ product.grocery_shop_name}}</p>
              </ion-col>
              <ion-col col-2>
               
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-10>
                <p style=" color: white;">GHC {{ product.product_price}}</p>
              </ion-col>
              <ion-col col-2 class="margin-icon">
                <!--<ion-icon style=" color: white;" ios="ios-cart" md="md-cart" (tap)="addTocart(product)"></ion-icon>-->
                <img src="assets/icon/white_c.png"  class="margin-icon"   (tap)="addTocart(product)"/>
              </ion-col>
            </ion-row>
            <!--<p style=" color: white;">GHC{{ product.product_price}}</p> <ion-icon style=" color: white;" ios="ios-cart" md="md-cart"></ion-icon>-->


          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  </div>

</ion-content>