page-prod-details {


// .right{

//   margin-right: 40%;
// }
    .margin{

        margin-right: 3%
    }

      .margin-icon{

        // margin-right: 4%
        margin-left: -5%;
    }

     .wide{


        width: 100%;
        
    }

      ion-card.card {
//   margin-top: 5px;
  margin-bottom: -18px;
}

       .ash{
        background-color: #d6d6d6;
        // color: white;
    }

    .back-color{
      background-color: #187034;
    }

    ion-badge.badge{
         background-color: green;
    }

}
