<ion-header color="ash">
  <ion-navbar color="ash">
    <button ion-button menuToggle>
      <ion-icon name="menu" style=" color: #187034;" ></ion-icon>
    </button>
    <ion-row>
      <ion-col col-7>
        <b style=" color: #FF000C"> Delivery Location <br><b style=" color: #187034;"> Abeka Lapaz  </b> </b>
      </ion-col>
      <ion-col col-5>
         <img src="assets/icon/refresh.png"  class="right" (tap)="refresh()"/>
         <img src="assets/icon/cart.png" height="30px" width="30px"  class="right"/>
        <!--<ion-icon ios="ios-cart-outline" style=" color: #187034;" class="right">;</ion-icon>-->
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content class="ash">
  <ion-searchbar placeholder="Search for products or stores"></ion-searchbar>

  <!--<ion-item *ngIf="check?.length > 0">-->
    <ion-list *ngFor="let shops of check">


      <ion-card class="wide">
       
       <ion-row>
      <ion-col col-5>
         <img [src]="shops.logo" height="90px" width="90px" (tap)="prod_type(shops)" />
      </ion-col>
      <ion-col col-7>
        <h2  class="card-style" ><b class="card-style" style=" color: #187034;" (tap)="prod_type(shops)">{{ shops.name}} </b></h2>
          <p class="card-style2" style=" color: #187034;" (tap)="prod_type(shops)"> {{ shops.location}}</p>
      </ion-col>
    </ion-row>

      </ion-card>

    </ion-list>
  <!--</ion-item>-->


</ion-content>


<!--<ion-list>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="img/thumbnail-totoro.png">
    </ion-thumbnail>
    <h2>My Neighbor Totoro</h2>
    <p>Hayao Miyazaki • 1988</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-list>-->