<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  ><p style=" color: #FF000C">Shopping Cart</p></ion-title>

  </ion-navbar>
</ion-header>


<ion-content>


  <ion-item *ngIf="cartList?.length == 0">

    <p class="center"><b>No Cart</b> </p>
  </ion-item>
<br>

  <div *ngIf="cartList?.length > 0">
    <ion-list *ngFor="let item of cartList">
      <ion-item no-lines>
        <ion-thumbnail item-left>
        <img *ngIf="item" [src]="item.prod_logo_url"  />
        </ion-thumbnail>
        <h4><b>{{ item.product_name}}</b></h4>
        <h4><b>GHC {{ item.product_price}}</b></h4>
        <!--<p>Price :{{item.product_price * item.quantity}}</p> -->

        
        <button ion-button color="kaya"  item-right (click)="quantityMinus(item)">  <ion-icon ios="ios-remove" md="md-remove"></ion-icon></button>
        <h4  item-right><b>{{ item.quantity}}</b></h4>
        <button ion-button color="secondary"  item-right (click)="quantityAdd(item)"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
        <button ion-button  color="danger"  item-right (click)="removeItemFromCart(item)"> <ion-icon ios="ios-close" md="md-close"></ion-icon></button>
      

        

      </ion-item>
    </ion-list>
  </div>



<ion-footer>
  <div *ngIf="cartList?.length > 0">

  <ion-row class= "ash">
  
      <ion-col col-6>
     <p style=" color: #187034;">CART ITEM: {{cartList.length}}</p>        
    
      </ion-col>

      <ion-col col-6>
     <p style=" color: #187034;">CART TOTAL: GHC {{getTotal()}}</p>        
   
    </ion-col>
 
  </ion-row>
  </div>

  <p> <button ion-button *ngIf="cartList.length" color="secondary" class="button button-dark customBtn" (tap)="checkout(item)">Proceed to checkout</button></p>
</ion-footer>
</ion-content>