<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> <b   style=" color: #FF000C"> MAKE PAYMENT </b> </ion-title>
    
  </ion-navbar>
  

</ion-header>


<ion-content >
  <br>
  <br>
  <br>
    <ion-item class="center" > <h4 (tap)="check()"><b style=" color: green;"> Mobile Money </b></h4></ion-item> 
    <br>
    <ion-item class="center"> <h4 (tap)="check2()"><b style=" color: green;"> Visa Card</b></h4></ion-item> 
    
</ion-content>
