<ion-menu [content]="content" >
  <!--<ion-header >
    <ion-toolbar color="kaya">
      
    </ion-toolbar>
  </ion-header>-->

  <ion-content>
      <ion-list>
        <ion-item class="back">
          <img src="assets/icon/camera.png" height="20%" width="20%" />
          <p class="pad" style=" color: white;"><b>John Doe</b></p>
        
          <!--<h4 class="pad" style=" color: white;">Accra</h4>-->
        </ion-item>


      </ion-list>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
         <!--<ion-icon item-left [name]="p.icon"></ion-icon>-->
        <p style=" color: #187034;">{{p.title}}</p>
      </button>
    </ion-list>
     <ion-list>
        <b style=" color: #187034;" class="pad">Extras</b>
      <button menuClose ion-item *ngFor="let p of pages2" (click)="openPage(p)">
         <!--<ion-icon item-left [name]="p.icon"></ion-icon>-->

         <p style=" color: #187034;">{{p.title}}</p>
      </button>
    </ion-list>

    <ion-list>
        <b style=" color: #187034;" class="pad">Others</b>
      <button menuClose ion-item *ngFor="let p of pages3" (click)="openPage(p)">
         <!--<ion-icon item-left [name]="p.icon"></ion-icon>-->

         <p style=" color: #187034;">{{p.title}}</p>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>