// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


 .pad{

        // padding-top: 10%;
         margin-left: 10%;

    }

.back{
background-color: #187034;
 height: 120px;


     background-repeat: no-repeat;
    background-size: cover;


}
   

@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff'),url('../assets/fonts/roboto-light');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Humanst';
}