page-locate-me {

.button.customBtn{
    width:290px;
    text-align: center;
    right: 20px;
}

h2{
    padding-top: 10%;
    text-align: center;
    // float: center;
}

  .pad{

      align-content: center;
      align-items: center;
      text-align:center;

    }

   .pad2{

      
         text-align:center;

    }


  .card-title {
   
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    float: right;
    padding-right: 15px;
    text-align: right;
  }


}
