


<ion-content >
<br/>
<br/>

<p class="pad2"><img src="assets/icon/rtt.png" height="300px" width="300px" /></p>
<br>
<br>
<br>
 <p class="pad2" style=" color: #187034;"><b>WHERE DO YOU WANT YOUR DELIVERY?</b></p>
<p class="pad"><button ion-button class="button button-dark customBtn" color="kaya" (tap)="getCurrentLocation()"> Use My Location  </button></p>
<p class="pad2" style=" color: #187034;" (tap)="locate()">Set Location manually</p>
 <div class="card-title" style=" color: #187034;" (tap)="skip()">
        <ion-icon name="md-arrow-forward"></ion-icon>
      
 </div>
</ion-content>
