
<ion-header>

  <ion-navbar>
  
  </ion-navbar>

</ion-header>


<ion-content >
 <br>
 <br>
 <br>
 

  <p class="center" ><img src="assets/icon/correct.png" height="150px" width="150px" (tap)="details(product)" /></p>
   
 <p class="center"><b style=" color: green;">  Your payment is being processed!<br> Kindly check on your phone to authorize the payment! </b></p>
<ion-footer>
  

   <ion-row  class="padding">
    <ion-col col-6 >
       <p> <button ion-button color="secondary" class="button button-dark customBtn" (tap)="order_status()">Check order status</button></p> 
      </ion-col  >
      <ion-col col-6 >
   <p> <button ion-button color="secondary" class="button button-dark customBtn" (tap)="home()">Continue Shopping</button></p> 
        </ion-col >
     </ion-row>

</ion-footer>
</ion-content>
