<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <ion-scroll class="modal_content" scrollY="true">
     <ion-buttons end>
      <button ion-button color="light" icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <br/>
    <br/>
    <br/>

   <ion-card-content>
      <ion-card>
        <ion-item class="position">
          <p class="position" style=" color: #187034;">Order Details </p>
        </ion-item>

    <ion-list *ngFor="let q of list">

      <ion-list *ngFor=" let option of q.order_details">

        <ion-item no-lines>
          <ion-thumbnail item-left>
         <img *ngIf="option" [src]="option.prod_logo_url"  />
          </ion-thumbnail>
          <h4><b> Product name: {{ option.product_name}}</b></h4>
          <h4><b> Price: GHC {{ option.product_price}}</b></h4>
          <h4><b> Quantity: {{ option.quantity}}</b></h4>
        </ion-item>

      </ion-list>
    </ion-list>
    <br>
    </ion-card>

    </ion-card-content>

  </ion-scroll>
</ion-content>