page-grocery {

    // .wide{

    //     width: 100%;
    // }

    .greener{
background-color: #187034;
margin-top: -5px;

}
   .ash{
        background-color: #d6d6d6;
        
    }


.position{

     text-align:center;
}

}
