<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-7>
        <b style=" color: #187034;"> {{this.shop_name}} <br><b style=" color: red;"> GROCERIES  </b> </b>
      </ion-col>
      <!--<ion-col col-5>
        <ion-icon ios="ios-refresh" style=" color: #187034;" class="right">;</ion-icon>
        <ion-icon ios="ios-cart-outline" style=" color: #187034;" class="right">;</ion-icon>
      </ion-col>-->
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content class="ash">

  <ion-item *ngIf="check?.length == 0">
    <p class="center"><b>No Groceries</b> </p>
  </ion-item>

  <ion-item *ngIf="check?.length > 0">


    <ion-row>

      <ion-col col-6 *ngFor="let product of check" class="wide">
        <br/>
         <img [src]="product.prodtype_url"  (tap)="details(product)" />
        <!--<img src="assets/icon/veg.png"  />-->
        <ion-item class='greener' (tap)="details(product)">
          <p class="position" style=" color: white;">{{ product.name}}</p>
        </ion-item>


      </ion-col>

    </ion-row>



  </ion-item>

</ion-content>