page-signup {

    .up{

        margin-top: -5%;
    }

 .margin{

        margin-left:60%; 
    }
     .margin-l{
        
       margin-left: 35%; 
    }

        .margin-r{
        
       margin-right: 60px; 
    } 
    

.background{

 /* The image used */
  background-image: url("../assets/icon/login.png");
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }    

       .pad{

        text-align:center;    

    }


.button.customBtn{
    width: 80%;
      left: 0%;
    // width:340px;
} 

  .main-view{
      height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;
    // background: transparent;
    //  opacity: .8;
      background-image: url("../assets/icon/box.png");
    //  background-color: white;
  }
//    .overlay {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//      opacity: .8;
//     background-color: #000000;
//   }

 ion-item.item {

     width: 80%;
      
      left: 10%;

    //border:solid 100px black;
    // background-color: black;
    // opacity: .7;
    //  position : absolute;

// background-color: transparent !important;
// background: transparent !important;

     
}


}
