<ion-content overflow-scroll='true' class="background">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 <form [formGroup]="signupForm">
  <!--<ion-card class="main-view">-->


    <ion-list class="main-view">
      <br/>
    
     

      <ion-item>

        <ion-input type="text" placeholder="fullname" formControlName="fullname" name="fullname" [class.invalid]="!signupForm.controls.fullname.valid && (signupForm.controls.fullname.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-label>
        <ion-label> </ion-label>
      </ion-item>
      <br/>
     
        <ion-item>
       <ion-input type="text" placeholder="Mobile Number" formControlName="mobile_number" name="mobile_number" [class.invalid]="!signupForm.controls.mobile_number.valid && (signupForm.controls.mobile_number.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon ios="ios-phone-portrait" md="md-phone"></ion-icon>
        </ion-label>
        <ion-label> </ion-label>
      </ion-item>
      <br/>

      <ion-item>

        <ion-input type="text" placeholder="Email" formControlName="email" name="email" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon name="ios-mail"></ion-icon>
        </ion-label>

        <ion-label> </ion-label>
      </ion-item>

      <br/>
       <ion-item>

        <ion-input type="text" placeholder="Location" formControlName="location" name="location" [class.invalid]="!signupForm.controls.location.valid && (signupForm.controls.location.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon name="ios-compass"></ion-icon>
        </ion-label>

        <ion-label> </ion-label>
      </ion-item>
     
      <p> <button ion-button color="kaya" class="button button-dark customBtn"  [disabled]="!this.signupForm.valid" (tap)="signup()"> Sign up</button></p>
  <ion-row class="up" >
  
      <ion-col col-6>
   <img src="assets/icon/Gmail.png" height="60px" width="60px" class="margin" />       
    
      </ion-col>

      <ion-col col-6>
     <img src="assets/icon/Facebook.png" height="60px" width="60px" class="margin-r "/>      
   
    </ion-col>
 
  </ion-row>
     

    </ion-list>
  <!--</ion-card>-->



   <ion-footer>
 
    <p class="pad"><b style=" color: white;"><p style=" color: white;">Already have an account ?  <u (tap)="login()" style=" color: #30aeff;">Log in</u> </p> </b> </p>
  
</ion-footer>
 </form>
</ion-content>