page-verify {

       

.background{

 /* The image used */
  background-image: url("../assets/icon/login.png");
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }    

       .pad{

        text-align:center;    

    }


.button.customBtn{
    width:340px;
} 

 .main-view{
    background: transparent;
     opacity: .8;
    //  background-color: white;
  }
//    .overlay {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//      opacity: .8;
//     background-color: #000000;
//   }

 ion-item.item {

    //border:solid 100px black;
    // background-color: black;
    // opacity: .7;
    //  position : absolute;

// background-color: transparent !important;
// background: transparent !important;

     
}

}
