<ion-content overflow-scroll='true' class="background">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<form [formGroup]="verifyForm" >
  <ion-card class="main-view">


    <ion-list>
      <br/>
      <br/>
     

      <ion-item>

       <ion-input type="text" placeholder="Enter default PIN" formControlName= "default_pin"  name="default_pin" [class.invalid]="!verifyForm.controls.default_pin.valid && (verifyForm.controls.default_pin.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
        </ion-label>
        <ion-label> </ion-label>
      </ion-item>

       <p  *ngIf="!verifyForm.controls.default_pin.valid  && (loginForm.controls.default_pin.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Default PIN should be six digits</b>
                </p>
      <br/>

      <ion-item>

       <ion-input type="text" placeholder="Generate your own PIN" formControlName= "master_pin"  name="master_pin" [class.invalid]="!verifyForm.controls.master_pin.valid && (verifyForm.controls.master_pin.dirty || submitAttempt)"></ion-input>
        <ion-label>
          <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
        </ion-label>
        <ion-label> </ion-label>
      </ion-item>
       <p  *ngIf="!verifyForm.controls.master_pin.valid  && (loginForm.controls.master_pin.dirty || submitAttempt)">
                    
                    <b style=" color: white;">Generated PIN should be six digits</b>
                </p>
      <br/>
     
      
      <br/>
      <p> <button ion-button color="kaya" class="button button-dark customBtn"  [disabled]="!this.verifyForm.valid" (tap)="verify()"> Verify</button></p>
      <br/>
     

    </ion-list>
  </ion-card>

 
 </form>
</ion-content>