<ion-header>

  <ion-navbar>
    <ion-title> <b style=" color: #FF000C"> MOBILE MONEY </b> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <br>
  <br>
  <p class="center"><b style=" color: #187034;"> Please Select a network </b></p>
  <ion-row >

    <ion-col col-4><img src="assets/icon/air.png" height="60px" width="60px" class="margin" (tap)="air()" /></ion-col>
    <ion-col col-4><img src="assets/icon/vod.png" height="60px" width="60px"  class="margin-l" (tap)="vod()" /></ion-col>
    <ion-col col-4><img src="assets/icon/mtn.png" height="60px" width="60px" class="margin-r" (tap)="mtn()" /></ion-col>

  </ion-row>
  <br>
  <br>
  <ion-item>

    <ion-input type="text" placeholder="Mobile number"></ion-input>

    <ion-label> </ion-label>
  </ion-item>
  <br>
  <p class="center"><b> Amount: GHC {{getTotal()}} </b></p>
  <p class="center"><b> Network Selected: {{network}} </b></p>
<ion-footer>

  <p> <button ion-button color="secondary" class="button button-dark customBtn" (tap)="pay()"> PAY NOW</button></p>
</ion-footer>
</ion-content>