page-mmoney {
.button.customBtn{
    width:350px;
     margin-top: 18%;
}

   .center{

        text-align: center;
        align-content: center;
    }

    .margin{

        margin-left:70%; 
    }
     .margin-l{
        
       margin-left: 35%; 
    }

        .margin-r{
        
       margin-right: 10px; 
    }
}
